<!DOCTYPE html>
{# Art Games Template: Favorites #}

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Discover art from museums around the world with one simple question: which one do you like better?">

    <!-- Bootstrap -->
    <link href="http://shannonvturner.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>All-time favorites</title>

    <link href='http://fonts.googleapis.com/css?family=Quintessential' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://shannonvturner.com/css/art_games.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49936574-1', 'shannonvturner.com');
      ga('send', 'pageview');

    </script>


  </head>

<body>

<h2>All-time favorites</h2>

<div class="row col-lg-6 col-lg-offset-3">

    <h4><a href="/art/mash">Discover art (play again)</a></h4>

    <h4>Art Mash has been played {{ plays }} times and {{ uniques }} unique artworks have been seen. <br> <br> From those playthroughs, here were the favorites:</h4>

</div>

        <div class="row col-lg-12">

            <div class="col-lg-4"> <h3> Artwork </h3> </div>
            <div class="col-lg-1"> <h3> Title </h3> </div>
            <div class="col-lg-1"> <h3> Ranking </h3> </div>
            <div class="col-lg-1"> <h3> Won </h3> </div>
            <div class="col-lg-1"> <h3> Lost </h3> </div>
            <div class="col-lg-4"> <h3> About this Artwork </h3> </div>

        </div>

        {% for rank, art in ranking.items %}

            <div class="row">

                <div class="col-lg-4">
                    
                    {% if art.artwork.external_url %}
                        <a href="{{ art.artwork.external_url }}" target="_blank">
                    {% endif %}
                    
                    <img src="{{ art.artwork.image_url }}" alt="{{ art.artwork.title }}" title="{{ art.artwork.title }}" class="ranking_image" style="max-width:50%">

                    {% if art.artwork.external_url %}
                        </a>
                    {% endif %}

                </div>

                <div class="col-lg-1">

                    <p class="ranking_item"><b>{{ art.artwork.title }}</b></p>

                </div>

                <div class="col-lg-1">

                    <p class="ranking_item" style="vertical-align: middle;"><b>#{{ rank }}</b></p>

                </div>

                <div class="col-lg-1">

                    <p class="ranking_item"><b>{{ art.won__id__count }}</b></p>

                </div>

                <div class="col-lg-1">

                    <p class="ranking_item"><b>{{ art.lost__id__count }}</b></p>

                </div>

                <div class="col-lg-3">

                    <table>

                    {% for key, value in art.artwork.items %}

                        {% if key in display_fields %}

                            {% if value %}
                                
                                <tr>
                                    <td> {{ key }}: </td>
                                    <td> {{ value }} </td>
                                </tr>

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                    </table>

                </div>

                <div class="col-lg-1"> </div>

            </div>

        {% endfor %}
      
    </div>

<div class="row">

    <div class="row col-lg-4 col-lg-offset-4">

        <h4><a href="/art/mash">Discover art (play again)</a></h4>

    </div>

</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://shannonvturner.com/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>