<!-- Facebook Opengraph -->
<meta property="og:title" content="Play">
<meta property="og:site_name" content="Art Games">
<meta property="og:url" content="http://shannonvturner.com/art">
<meta property="og:description" content="Discover art from museums around the world by playing games!">
<meta property="og:image" content="http://shannonvturner.com/images/mash.png">

<!-- Twitter cards -->
<meta name="twitter:title" content="Play Art Games">
<meta name="twitter:description" content="Discover art from museums around the world by playing games!">
<meta name="twitter:image:src" content="http://shannonvturner.com/images/mash.png">
<meta name="twitter:card" content="summary_large_image">
<!--<meta name="twitter:site" content="@svthmc">-->
<meta name="twitter:creator" content="@svthmc">
<meta name="twitter:url" content="http://shannonvturner.com/art">